.start-screen {
  min-width: 100%;
  height: 100%;
  position: relative;
  padding-bottom: 20px;
}
.start-screen-title {
  position: fixed;
  top: 20px;
  left: 80px;
  display: none;
}
[class*="tile-"] {
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
}
.tiles-group {
  margin-left: 0;
  margin-top: 50px;
}
@media all and (max-width: 768px) {
  .aplayer {
    display: none;
  }
}

@media all and (min-width: 768px) {
  .start-screen-title {
    display: block;
  }
  .start-screen {
    padding: 140px 80px 0 0;
  }
  .tiles-group {
    left: 100px;
  }
  .tiles-group {
    margin-left: 80px;
  }
}
#footer {
  width: 100%;
  color: white;
  float: left;
  text-align: center;
  position: fixed;
  bottom: 0;
  padding: 2em 0;
  z-index: 11;
  /* background-color: blue; */
}
body {
  background-position: -99999px -99999px;
  background-image: url(https://cdn.ethanloo.top/img/20201213231800.webp);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;
  font-family: 'Noto Serif SC', "Microsoft Yahei UI", "Microsoft Yahei", sans-serif;
}

body:before {
  content: "";
  background-image: inherit;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover;
  background-size: cover !important;
  z-index: -1;
}
html,
body {
  height: 100%;
  margin: 0;
}

/* 字体大小 */
.ul.li {
  
  list-style-type: none;
  font-size: 1rem;
}

@media all and (max-width: 768px) {
  #footer {
    position: static;
  }
  body {
    overflow-x: hidden;
  }
  ::-webkit-scrollbar {
    width: 0px;
  }
}

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

meter::-webkit-meter-bar {
  background: #fff;
  height: 5px;
}

meter::-webkit-meter-optimum-value {
  background: linear-gradient(to bottom, #60a917, #60a917);
  height: 5px;
}

meter::-webkit-meter-suboptimum-value {
  background: linear-gradient(to bottom, #60a917, #60a917);
  height: 5px;
}

meter::-webkit-meter-even-less-good-value {
  background: linear-gradient(to bottom, #60a917, #60a917);
  height: 5px;
}
